.fondo_pagina
{
    --background:red;
}

.tipos
{
    padding-bottom: 15px;
}
.titulo_tipos
{
    font-size: 200%;
    padding: 0 0 0 0;
    color: black;
}
.fondo_card1
{
    --background:#FFE01A;
}

.fondo_card2
{
    margin-bottom: 30%;
    --background:rgb(0, 147, 177)  ;
}

.nombre
{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.estilo_footer
{
    position: absolute;
    bottom: 0%;
    top: 100%;
    background-color: #B10300 ;
}

.letras_footer
{   
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 100%;
}

.fondo_footer
{  
    --background:#B10300 ;
}