  <ion-header>
    <ion-toolbar class="color_header">
      <ion-title>

        <div class="imagen_header" align="center">
          <ion-img style="width: 30%" src='assets/pokemon.png'></ion-img>
        </div>
        
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <app-pokemon x=25></app-pokemon>
  </ion-content>

  <ion-footer>
    <ion-toolbar class="estilo_footer">
        <p align="center" class="letras_footer"> Created By Pablo Sebastian</p>
    </ion-toolbar>
  </ion-footer>
 


