.color_header
{
  --background:#B10300;
  padding: 3% 3% 3% 3%;
}

.imagen_header
{
  padding-top: 4%;
  padding-bottom: 4%;
}

.estilo_footer
{
   position: absolute;
   bottom: 0%;
   
   --background:#B10300;
}

.letras_footer
{   
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 100%;
}

